<a href="https://colab.research.google.com/github/mmartigani/Pandas_con_python/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
x=pd.Series([6,3,4,6])
x

0    6
1    3
2    4
3    6
dtype: int64

In [4]:
import pandas as pd 
import numpy as np
df=pd.DataFrame(np.random.randn(4,3))
df

          0         1         2
0  0.904988  0.355916  0.901810
1  1.539720  0.295036  0.529671
2  1.061137  0.044809  0.751271
3  2.072181 -0.061298 -1.112904

In [6]:
one=pd.DataFrame(np.random.randn(5,4))
two=pd.DataFrame(np.random.randn(5,4))
df_1=pd.concat([one, two])
df_1

          0         1         2         3
0 -0.865632  0.388153 -0.031205  0.124409
1 -0.583459 -0.753381 -0.409787  0.422388
2  2.088108 -0.744317  1.143271 -0.118451
3  0.143585 -0.071366 -0.355908 -0.170135
4  1.279478 -1.091028  1.802969  1.123179
0 -0.725507 -0.013349  0.306666 -1.581701
1  0.399504  1.700118  0.039577 -1.229755
2 -1.363266 -1.084479 -1.338410 -1.006846
3 -1.095918 -1.140202 -1.372893  0.439198
4  0.553387 -0.717775 -1.546049  1.622344

In [7]:
left=pd.DataFrame({'key':['foo', 'bar'],'ival':[1,2] })
left

   key  ival
0  foo     1
1  bar     2

In [8]:
right=pd.DataFrame({'key':['foo', 'bar','bar'],'ival':[1,2,3] })
right

   key  ival
0  foo     1
1  bar     2
2  bar     3

In [9]:
df_2=pd.merge(left, right, on='key')
df_2

   key  ival_x  ival_y
0  foo       1       1
1  bar       2       2
2  bar       2       3