<a href="https://colab.research.google.com/github/mmartigani/Pandas_con_python/blob/main/WebScraping_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#pagina web de la que hacemos el webscraping

#https://www.football-data.co.uk/englandm.php

In [ ]:
df_premier21=pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/E0.csv')

In [ ]:
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,E0,30/04/2022,17:30,Leeds,Man City,0,4,A,0,1,...,2.56,1.50,1.96,1.94,1.98,1.94,2.05,1.98,1.98,1.90
338,E0,01/05/2022,14:00,Everton,Chelsea,1,0,H,0,0,...,1.85,0.75,1.94,1.96,1.98,1.94,2.09,2.00,1.96,1.92
339,E0,01/05/2022,14:00,Tottenham,Leicester,3,1,H,1,0,...,2.42,-1.50,2.02,1.88,2.04,1.89,2.06,2.03,2.00,1.88
340,E0,01/05/2022,16:30,West Ham,Arsenal,1,2,A,1,1,...,2.08,0.75,1.85,2.05,1.88,2.05,1.99,2.17,1.84,2.04
341,E0,02/05/2022,20:00,Man United,Brentford,3,0,H,1,0,...,2.20,-0.75,2.01,1.89,2.04,1.89,2.04,2.04,1.98,1.90

In [ ]:
#cambiamos el nombre de las columnas 
df_premier21.rename(columns={'Date':'date',
                             'HomeTeam':'home_team',
                             'AwayTeam':'away_team',
                             'FTHG':'home_goals',
                             'FTAG':'away_goals',}, inplace =True)

In [ ]:
df_premier21

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,E0,30/04/2022,17:30,Leeds,Man City,0,4,A,0,1,...,2.56,1.50,1.96,1.94,1.98,1.94,2.05,1.98,1.98,1.90
338,E0,01/05/2022,14:00,Everton,Chelsea,1,0,H,0,0,...,1.85,0.75,1.94,1.96,1.98,1.94,2.09,2.00,1.96,1.92
339,E0,01/05/2022,14:00,Tottenham,Leicester,3,1,H,1,0,...,2.42,-1.50,2.02,1.88,2.04,1.89,2.06,2.03,2.00,1.88
340,E0,01/05/2022,16:30,West Ham,Arsenal,1,2,A,1,1,...,2.08,0.75,1.85,2.05,1.88,2.05,1.99,2.17,1.84,2.04
341,E0,02/05/2022,20:00,Man United,Brentford,3,0,H,1,0,...,2.20,-0.75,2.01,1.89,2.04,1.89,2.04,2.04,1.98,1.90

In [ ]:
#loc vs iloc

In [ ]:
df=pd.read_csv('players_20.csv')
#seleccionar el index 
df.set_index('short_name', inplace=True)
#seleccionamos las columnas 
df=df[['long_name','age','dob','height_cm','weight_kg','nationality', 'club']]
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [ ]:
df.loc['L. Messi',]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [ ]:
df.loc['L. Messi','height_cm']

170

In [ ]:
df.loc['Cristiano Ronaldo','weight_kg']

83

In [ ]:
#obtenemos todas las filas de las columna height_cm
df.loc[:,'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [ ]:
#todas las columnas de una fila 
df.loc['L. Messi',:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [ ]:
#metodo iloc

In [ ]:
df.iloc[0,3]

170

In [ ]:
df.iloc[1,4]

83

In [ ]:
df.iloc[:,3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [ ]:
df.iloc[0,:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object